@model offering_demo.Models.Department

@{
    ViewData["Title"] = "Create Department";
}

<h3>Create Department</h3>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label">Department Name</label>
        <input asp-for="DepartmentName" class="form-control" required />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Department Acronym</label>
        <input asp-for="DepartmentAcronym" class="form-control" required />
        <span asp-validation-for="DepartmentAcronym" class="text-danger"></span>
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
